<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>DBDRIVER</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3306/test?rewriteBatchedStatements=true</param-value>
    </context-param>
    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>DBPASS</param-name>
        <param-value>MyNewPass</param-value>
    </context-param>

    <listener>
        <listener-class>com.servlet.demo.listener.AppServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.servlet.demo.listener.AppServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.servlet.demo.listener.AppHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.servlet.demo.listener.AppServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.servlet.demo.listener.AppServletRequestAttributeListener</listener-class>
    </listener>
</web-app>